.container .form{
    display: flex;
    flex-direction: column;
}


.form {
    width: 300px;
    margin-left: 20px;
}

label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

input{
    background-color: rgb(157, 238, 241);
}


.signup-box {
    width: 360px;
    height: 500px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
    margin-top: 40px;
    border-radius: 8px;
}


button{
    margin-top: 50px;
    width: 120px;
    height: 40px;
    justify-content: space-around;
    margin-left: 32%;
    font-size: 18px;
    font-weight: 500px;
    background-color: rgb(4, 48, 80);
    color: white;
    font-family: cursive;
    border-radius: 8px;
    outline: none;
    border: none;
}

button :hover {
    opacity: 0.9;
    background-color: rgb(14, 128, 227) !important;

}

body{
    margin: 0%;
    background-image: url(clint-patterson-dYEuFB8KQJk-unsplash.jpg);
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
}

h1{
    margin-left: 25%;
    font-style: italic;
    font-family: cursive;
}